
h1, h2, h3, h4, h5, h6 {
    color: #363958;
}
span{
    color: #fa804c;
}
img{
    max-width: 100%;
}
.penguine-btn{
    color: white;
    text-transform: uppercase;
    font-size: 18px;
    padding: 10px 30px;
    background-image: linear-gradient(#3c4fe0, #3745c6);
    border-radius: 7px;
}
.penguine-btn:hover{
    color: white;
}
.bg-color{
    background-color: #fff9f4;;
}

.col-lg-6 img {
    width: 500px;
}
.banner-pos{
    margin-top: 150px;
}
svg {
    width: 25px;
}

.shoes img {
    width: 369px;
    margin: 0 auto;
    background-color: #f1f1f1;
    border-radius: 10px;
    padding: 30px;
}

.content {
    margin-left: 30px;
}
.images img {
    width: 100px;
}


/* Media Queries */

@media only screen and (max-width: 576px){
    .banner-pos{
        margin-top: 60px;
        text-align: center;
        margin-bottom: 20px;
    } 
}
    
